/* 
    Document   : css
    Created on : Aug 9, 2012, 10:27:33 AM
    Author     : aphe
    Description:
        Purpose of the stylesheet follows.
*/
body {
	background-color: #6FF;
        cursor: default;
}

#button { padding: .5em 1em; text-decoration: none; }

#login fieldset {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	text-transform: capitalize;
	width: 180px;
	height: 150px;
	padding: 10px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
#login fieldset #sub {
        padding: .1em 1em;
	font-family: Tahoma, Geneva, sans-serif;
	position: relative;
	left: auto;
	margin-left: 50px;
	margin-right: auto;
	margin-top: 10px;
	width: 90px;
}
#login fieldset #cuk {
	position: static;
        margin-top: 10px; 
}
#login fieldset legend {
	font-size: 14px;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	color: #A00;
	border-radius: 200px;
}

/*----tabbed----*/
.TabbedPanels {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}


.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 1px 0px 0px;
	font: bold 0.7em sans-serif;
	background-color: #EFF;
	list-style: none;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
}

.TabbedPanelsTabHover {
	background-color: #CCC;
}

.TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: 1px solid #EEE;
}

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
}
.TabbedPanelsContent {
	overflow: hidden;
	padding: 4px;
}

.TabbedPanelsContentVisible {
}

.VTabbedPanels {
	overflow: hidden;
	zoom: 1;
}

.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}


.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;
	padding: 0px;
	width: 30em;
	height: 20em;
}

@media print {
.TabbedPanels {
	overflow: visible !important;
}
.TabbedPanelsContentGroup {
	display: block !important;
	overflow: visible !important;
	height: auto !important;
}
.TabbedPanelsContent {
	overflow: visible !important;
	display: block !important;
	clear:both !important;
}
.TabbedPanelsTab {
	 overflow: visible !important;
	 display: block !important;
	 clear:both !important;
}
}
